#root {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.italic {
  font-style: italic;
}

.text-orange {
  color: orange;
}

.text-grey {
  color: #c0c0c0;
}
